

.carousel-item {
  padding: 10px;
  .card {
    .card-height-indicator {
      margin-top: 90%;
    }
    .card-content {
      .card-image {
        height: 65%;
      }
      .card-body {
        padding: 5px;
        h1 {
          margin-top: 0px;
          margin-bottom: 3px;
          font-size: 18px;
          font-weight: bold;
          color: rgba(66,152,237,1.0);
        }
        p {
          margin: 0px;
          font-size: 13px;
        }
      }
    }
  }
}


#carousel-category-carousel .carousel-control {
  height: 60px;
  width: 5%;
  top: 40%;
  i {
    font-size: 80px;
  }
}

// #carousel-category-carousel .carousel-control .right {
//   @include background-image(linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.8) 100%));
// }

// #carousel-category-carousel .carousel-control .left {
//   @include background-image(linear-gradient(to right,rgba(0,0,0,.8) 0,rgba(0,0,0,.0001) 100%));
// }