div.well.well-sm.category-carousel-container {
  padding: 0px;
}

.carousel-item {
  padding: 0px;
  .card {
    .card-height-indicator {
      margin-top: 90%;
    }
    .card-content {
      .card-image {
        height: 65%;
      }
      .card-body {
        padding: 5px;
        h1 {
          margin-top: 0px;
          margin-bottom: 3px;
          font-size: 18px;
          font-weight: bold;
          color: rgba(66,152,237,1.0);
        }
        p {
          margin: 0px;
          font-size: 13px;
        }
      }
    }
  }
}