@font-face {
  font-family: 'Denne | Pretty Shit';
  font-style: normal;
  font-weight: normal;
  src: local('Denne | Pretty Shit'), url('/fonts/Denne-PrettyShit.woff') format('woff');
}

@font-face {
  font-family:"LOL!";
  src:
  url("/fonts/LOL_.eot?") format("eot"),
  url("/fonts/LOL_.woff") format("woff"),
  url("/fonts/LOL_.ttf") format("truetype"),
  url("/fonts/LOL_.svg#LOL!") format("svg");
  font-weight:normal;
  font-style:normal;
}

a.header-brand {
  padding: 0px;
  background-color: black;
  .header-logo {
    img {
      height: 75px;
    }
    display: inline-block;
  }
}

.icon-labels.text {
  font-size: 17px;
  -ms-transform: rotate(-45deg); /* IE 9 */
  -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
  transform: rotate(-45deg);
  margin-left: -8px;
  margin-top: 2px;

}

a.tags {
  padding: 0px !important;
}

.font {
  font-family: 'Denne | Pretty Shit';
  font-size: 35px;
  margin-top: -10px;
}

.font.heart {
  font-size: 40px;
  margin-top: -18px;
}

.font.middle-finger {
  font-weight: bold;
  margin-top: -8px;
}

.font.star {
  font-size: 40px;
  margin-top: -15px;
}

.font-lol {
  font-family: 'LOL!';
  font-size: 25px;
  margin-top: -5px;
  margin-left: -5px;
}

.font-lol.omg {
  font-size: 20px;
  margin-top: 0px;
}

.font.crap {
  font-weight: bold;
  margin-top: -13px;
}

.font-lol.nsfw {
  font-size: 18px;
  margin-top: 0px;
}

.font.die {
  font-size: 40px;
  font-weight: bold;
  margin-top: -17px;
}