@import ".meteor/local/build/programs/server/assets/packages/wolves_bourbon/bourbon";


.row {
  margin-top: 100px;
}

.video-container {
  margin-top: 10px;
  height: 600px;
  #video-title {
    h1 {
      margin-top: 0px;
    }
  }
}

#myvideo {
  margin: 0px;
  padding: 0px;
  width: 100%;
  position: relative;
  height: 500px;
  #player {
    width: 100%;
    height: 100%;
    padding: 0px;
  }
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  margin-top: -505px;
  position: relative;
  z-index: 1000;
  .comment-box {
    position: relative;
    font-size: 20px;
    height: 50px;
  }
}


:-webkit-full-screen #myvideo {
  width: 100%;
  height: 100%;
}

:-webkit-full-screen .overlay {
  width: 100%;
  height: 100%;
}


#comments {
  display: none;
  color: black;
}

.comment-summary {
  margin-top: 310px;
}

/*===============================================*/
/*            PLAYER CONTROLLER                  */
/*===============================================*/

#player-controller {
  clear: both;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 50px;
  background: black;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

#player-controller div {
  float: left;
}

.play, .setting, .fullscreen, .volume {
  font-size: 20px;
  margin-left: 5px;
}

.setting {
  margin-left: 10px;
}

// Volume Slide

#volumeSlider {
  width: 100px;
  margin-top: 8px;
  margin-left: 5px;
}

.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all {
  height: 15px;
  border-radius: 20px;
  border: 0px;
}

.ui-slider-range.ui-widget-header.ui-corner-all.ui-slider-range-min {
  background: rgba(69, 136, 250, 1.0);
}

.ui-slider-handle.ui-state-default.ui-corner-all {
  border-radius: 50px;
  width: 16px;
  height: 16px;
  top: 0px;
  border: 0px;
}

// progress bar

.progressBar-wrapper {
  width: 70%;
}

#progressBar {
  width: 100%;
  border-radius: 20px;
  height: 15px;
  border: 0px;
  margin-top: 8px;
  margin-left: 5px;
}

.ui-widget-content {
  background: #333;
}

.ui-widget-header {
  background: rgba(69, 136, 250, 1.0);
  border: 0px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}


/*===============================================*/
/*            SOCIAL CONTROLLER                  */
/*===============================================*/

#social-controller {
  float: right;
}

#social-controller button {
  height: 50px;
  width: 50px;
  margin-right: 10px;
  margin-top: 8px;
  i {
    margin-left: -3px;
    margin-top: 2px;
  }
}

#comment-textarea {
  float: right;
  textarea {
    width: 210px;
    border-radius: 5px;
    border: 3px solid rgba(69, 136, 250, 1.0);
    margin-top: 5px;
  }
}

#vote-icons {
  width: 56px;
  float: right;
  margin-right: 65px;
  display: none;
  .vote-icon {
    width: 45px;
    height: 45px;
    margin-top: 5px;
    img {
      width: 30px;
    }
  }
}

/*===============================================*/
/*            COMMENT BAR  CSS                   */
/*===============================================*/
#comment-display {
  float: left;
}

#commentBar {
  width: 500px;
  height: 30px;
  background: blue;
  padding: 0px;
}

.commentBarNotch {
  width: 10px;
  height: 30px;
  background: red;
}