<template name="videoSidebar">

  <div class="well well-lg sidebar-container">
    <div class="sidebar-title">
      <h1>Recommendations</h1>
    </div>

    <div class="sidebar-item">
      <div class="sidebar-tags">
        <a href="javascript:void(0)" class="tags" alt="LOVE!"><button class="btn btn-fab btn-warning btn-fab btn-raised"><div class="icon-labels love"><img src="/images/love.png"></div></button></a>
      </div>

      <div class="card">
        <div class="card-height-indicator"></div>

        <div class="card-content">

            <div class="card-image">
                <a href="http://youtu.be/Uh8kwiELfZk" target="_blank"><img src="http://cdn.makeagif.com/media/12-05-2014/nOZBIV.gif"></a>
                <h3 class="card-image-headline">These girls can dance!</h3>
            </div>

            <div class="card-body">
                <p>@harry: Check that out!</p>
                <p>@mark: Wassup yo!</p>
                <p>@fer: hot damn!</p>
            </div>
        </div>

      </div>
    </div>


    <div class="sidebar-item">
      <div class="sidebar-tags">
        <a href="javascript:void(0)" class="tags" alt="DIE!"><button class="btn btn-fab btn-warning btn-fab btn-raised"><div class="icon-labels die"><img src="/images/die.png"></div></button></a>
      </div>

      <div class="card">
        <div class="card-height-indicator"></div>

        <div class="card-content">

            <div class="card-image">
                <a href="http://youtu.be/NIZmH96vUhU" target="_blank"><img src="http://cdn.makeagif.com/media/12-05-2014/Z6Mr_Q.gif"></a>
                <h3 class="card-image-headline">Scariest prank EVER!</h3>
            </div>

            <div class="card-body">
                <p>@harry: Holy shit!</p>
                <p>@mark: That's funny!</p>
                <p>@fer: I'd be pissed!</p>
            </div>
        </div>

      </div>
    </div>

  </div>


</template>