<template name="videoItem">

  <div class="well well-lg video-container">
    <div id="video-title">
      <h1>Video Title</h1>
    </div>

    <div id="myvideo">
      <div id="player"></div>
      <div class="overlay">

        <div class="comment-display">
          <div id="commentBar"></div>
          <div class="comment-box"></div>
        </div>

        <div class="social-controller">
          <button class="comment btn btn-primary">Comment</button>
          <input type="text" id="comments">
          <button class="vote btn btn-primary">Vote</button>
          <button class="share btn btn-primary">Share</button>
        </div>

        <div class="player-controller">
          <div class="play"><i class="fa fa-play"></i></div>
          <div class="fullscreen"><i class="fa fa-expand"></i></div>
          <button class="setting btn btn-primary">Setting</button>
          <div id="volumeSlider"></div>
        </div>
        <div id="progressBar"></div>





      </div>
    </div>
  </div>
</template>