<template name="videoItem">

  <div class="well well-lg video-container">
    <div id="video-title">
      <h1>Video Title</h1>
    </div>

    <div id="myvideo">
      <div id="player"></div>
      <div class="overlay">

        <div id="comment-display">
          <div id="commentBar"></div>
          <div class="comment-box"></div>
        </div>

        <div id="social-controller">
          <button class="comment btn btn-success btn-fab btn-raised"><i class="md md-textsms"></i></button>
          <button class="vote btn btn-success btn-fab btn-raised"><i class="md md-mood"></i></button>
          <button class="share btn btn-success btn-fab btn-raised"><i class="md md-share"></i></button>
          <div>
            <input type="text" id="comments">
          </div>
        </div>

        <div id="player-controller">
          <div class="play"><i class="fa fa-play"></i></div>
          <div id="progressBar"></div>
          <div class="volume"><i class="fa fa-volume-up"></i></div>
          <div id="volumeSlider"></div>
          <div class="setting"><i class="fa fa-cog"></i></div>
          <div class="fullscreen"><i class="md md-aspect-ratio"></i></div>
        </div>

      </div>
    </div>
  </div>
</template>