<template name="header">
<header>
    <div class="navbar navbar-info navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-primary-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>


          <a href="/" class="navbar-brand header-brand">
            <div class="header-logo"><img src="/images/strawberry.png" alt="Brand"></div>
            <div class="header-logo-text"><p>潮媒</p></div>
          </a>

        </div>


        <div class="navbar-collapse collapse navbar-primary-collapse">
          <ul class="nav navbar-nav header-tags">
            <li class="header-tags-container">
              <a href="/lmao" class="tags" alt="LMAO!"><button class="btn btn-fab btn-warning btn-fab btn-raised"><div class="icon-labels lmao"><img src="/images/lmao.png"></div></button></a>

              <a href="/love" class="tags" alt="LOVE!"><button class="btn btn-fab btn-warning btn-fab btn-raised"><div class="icon-labels love"><img src="/images/love.png"></div></button></a>

              <a href="/fku" class="tags" alt="F**K U!"><button class="btn btn-fab btn-warning btn-fab btn-raised"><div class="icon-labels fku"><img src="/images/fku.png"></div></button></a>

              <a href="/magic" class="tags" alt="MAGIC!"><button class="btn btn-fab btn-warning btn-fab btn-raised"><div class="icon-labels magic"><img src="/images/magic.png"></div></button></a>

              <a href="/omfg" class="tags" alt="OMFG!"><button class="btn btn-fab btn-warning btn-fab btn-raised"><div class="icon-labels omfg"><img src="/images/omfg.png"></div></button></a>

              <a href="/shite" class="tags" alt="SHITE!"><button class="btn btn-fab btn-warning btn-fab btn-raised"><div class="icon-labels shite"><img src="/images/shite.png"></div></button></a>

              <a href="/nsfw" class="tags" alt="NSFW!"><button class="btn btn-fab btn-warning btn-fab btn-raised"><div class="icon-labels nsfw"><img src="/images/nsfw.png"></div></button></a>

              <a href="/die" class="tags" alt="DIE!"><button class="btn btn-fab btn-warning btn-fab btn-raised"><div class="icon-labels die"><img src="/images/die.png"></div></button></a>

            </li>

          </ul>

          <ul class="nav navbar-nav navbar-right header-search">
            <li class="header-search-container">
              <button class="btn btn-fab btn-primary search-button"><i class="md md-search"></i></button>
              <form class="navbar-form navbar-right search-field hidden">
                <div class="form-control-wrapper">
                  <input type="text" class="form-control col-lg-8 empty" placeholder="Search"><span class="material-input"></span>
                </div>
              </form>
            </li>


            <li class="dropdown header-login">
              <button class="btn btn-fab btn-primary login-button dropdown-toggle"><i class="fa fa-user fa-fw dropdown-toggle" data-toggle="dropdown"></i>
              </button>

<!--               <ul class="dropdown-menu">
                <li><a href="javascript:void(0)">Action</a></li>
                <li><a href="javascript:void(0)">Another action</a></li>
                <li><a href="javascript:void(0)">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Dropdown header</li>
                <li><a href="javascript:void(0)">Separated link</a></li>
                <li><a href="javascript:void(0)">One more separated link</a></li>
              </ul> -->
            </li>
            <li class="header-login">
              <div class="login-button">
                {{> loginButtons}}
              </div>
            </li>

          </ul>




        </div>
      </div>
    </div>
  </header>
</template>